/.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.class
local.properties
.settings/
.loadpath
.recommenders

.externalToolBuilders/
.launch

.pydevproject

.idea/
../logs/
.mvn/
gradle/
gradlew
gradlew.bat
lib/commons-pool2-2.5.0/apidocs
lib/commons-pool2-2.5.0/commons-pool2-2.5.0-*
lib/commons-pool2-2.5.0/
out/
pkg/
build/
target/
.gradle/
../.gradle/
../.idea/*